.container{
    display: flex;
}
.card{
    padding: 15px 20px;
    margin: 15px 15px;
    /* border: 2px solid red; */
    background-color: sandybrown;


    /* box-shadow outset */
    /* box-shadow: offset-x offset-y color; */
    /* box-shadow: 8px 5px brown; */
    /* box-shadow: -8px -5px brown; */

    /* box-shadow: offset-x offset-y blur-radius color; */
    /* box-shadow: 8px 5px 10px brown; */
    /* box-shadow: -8px -5px 10px brown; */

    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    /* box-shadow: 8px 5px 10px 5px brown; */
    /* box-shadow: -8px -5px 10px 5px brown; */


    /* inset shadow */
    /* box-shadow: inset 5px 3px green; */
    
    /* multishadow */
    box-shadow: 5px 8px green, 7px 10px brown;
}

.card h1{
    /* text-shadow: 2px 3px green; */
    /* text-shadow: -2px -3px green; */
    /* text-shadow: 2px 3px 10px green; */
    text-shadow: -2px -3px 10px green;
}